


.App {
  text-align: center;
  /* background-image: url("../public/background-sound.jpg"); */
  opacity: 0.91;
   background-color: rgba(135, 196, 250, 0.345) ;
  
  
  
}
.container{
  display: flex;
  /* width: 100vh; */
  justify-content: space-between;
  align-content: center;
 
  
}
.container-playlist{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.container-follows{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  
}



.follow-view{
  border-style: groove;
}

/* 
 #boton-player {
  background: OrangeRed;
  color: white;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  outline: none;
  text-transform: uppercase;
  transition: all 0.2s ease;
}
 
#boton-player:hover {
  background: #d63d05;
} 

.controls {
  text-align: center;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 600px;
  height: 200px;
  
}

#contenedor-player {
  box-shadow: 0px 0px 5px 1px black;
  display: flex;
  flex-wrap: wrap;
   width: 600px;
  height: 200px; 
  
  
} */

/* .song-details {
  display: flex;
  justify-content: center;

}

 */





.player {
  display: grid;
  grid-template-columns: 10rem 1fr;
  width: 40rem;
  background-color: rgb(99, 105, 154);
  border-radius: 0.5rem;
  box-shadow: 0 1rem 1.5rem #10101024;
  overflow: hidden;
  justify-content: center;
  margin-left: 5%;
  margin-bottom: 5%;
  padding: 5%;

}

.player .thumb {
  width: 10rem;
  height: 10rem;
  padding-top: 2rem;
}

.player .photo-song {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 100%;
  
}

.player .info {
  padding: 1rem;
}

.player .detail {
  display: grid;
  grid-template-columns: 1fr 4rem;
  margin-bottom: 1rem;
}

.player .title {
  /* font-size: 1.5rem; */
  /* padding-bottom: 1rem; */
}

.player .title .owner {
  /* font-size: 0.9rem; */
  color: #777;
  
}
.owner-name{
  text-decoration: none;
  color: white;
  margin-right: 300px;

}
.title-name{
  text-decoration: none;
  color: white;
  margin-right: 20px;
  width: 200px;

}
.title{
  text-align: start;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;

  /* height: 100px; */
}

.player .control i {
  width: 4.3rem;
  height: 4.3rem;
  display: grid;
  place-content: center;
  font-size: 1.25rem;
  background-color: #0f90d6;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0rem #1AAFFFAA;
}
.control{
 
  margin-top: 100px;
  margin-left: 25px;
  
}

.player .control i:hover {
  box-shadow: 0 0 1.5rem #1AAFFFAA;
  font-size: 1.5rem;
}

.playlist {
  text-align: left;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.playlist-item {
  color: #444;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 1em;
}

.playlist-item.selected {
  font-weight: bold;
}

.playlist-item:hover {
  background: rgba(0, 0, 0, 0.1);
}


.hide-input{
  visibility: hidden;
  width: 1px;
  height: 1px;
}

.add-page{
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content:space-around;

}

.light-letters{
  color: white;
}

.add-container{
  margin-top: 25%;
  display: flex;
  flex-direction: column;
  align-content: center;
  
  width: 80vh;
  transform: scale(1.34);

  
}

.upload-picture{
  margin-top: 25%;
  display: flex;
  flex-direction: column;
  margin-left: -30%;
  border-style: groove;
  padding: 35px;
  height: 150px;
  border-radius: 5%;


}
.margin-between{
  margin: 20px;

}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.center-box{
  margin-left: 25%;
}

.align-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo-song{
  margin-left: 300px;
  margin-top: -30px;
  position: absolute;
  
  
}
.sm-width{
  width: 200px;
}
.wave-size{
  margin: 30px -20px;
}


.down-container{
 justify-content: space-between;
 margin-top: 30px;
}

